/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font: 16px/28px arial, sans-serif;
    background-color:rgb(182, 208, 224);
    color: rgb(28, 113, 199);
}


.container {
    width: 900px;
    margin: auto;
    background-color: white;
}

.header {
    padding: 20px;
}

.header .judul{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.header ul li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
}

.header a{
    text-decoration: rgb(230, 218, 218);
    color:rgb(41, 126, 223);
}

.header a:hover{
    background-color: rgb(253, 243, 227);
}

.gambar {
   height: 330px;
   background-image: url('kl.jpg'); 
   background-size: cover;
   background-position: 0 -130px;
   border-top:  5px solid rgb(192, 219, 231);
   border-bottom: 5px solid rgb(192, 219, 231);
}

.main {
    padding: 20px;
}

.main h2 {
    font-size: 20px;
    font-weight: bold;
}

.main .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.main .penulis a{
    color:rgb(41, 126, 223);
    text-decoration: none;
}

.main p {
    margin-bottom: 20px;
    font-size: 13px;
}

.hallo:hover{
    font-size: 20px;
    font-style: italic;
    width: 10px;
    height: 20px;
}

.Navigasi a{
    font-size: 13px;
}

.hallo:link{
    color:rgb(1, 112, 146);
}

/* Membuat List Other Skills pada HTML */
.hey:hover{
    background-color: tomato;
    color: green;
}

ol :nth-child(2n){
    width: 130px;
    font-size: 13px;
}


/* Membuat Warna tulisan didalam Table */
.table{
    border-collapse:separate;
    font:normal normal 16px times,Sans-Serif;
    color:hsla(236, 52%, 94%, 0.966);
}

/* Mengatur Warna latar dan teks 1 baris horizontal */
.table th {
    background:#61bfe4;
    color:#b3650b;
    font-weight:bold;
    font-size:16px;
    padding: 5px 15px;
}

.table td {
    vertical-align:top;
    padding:5px 10px;
    border:1px solid #5a3636;
}

/* mengatur warna baris 2,3,4 */
.table tr {
    background:#6d7483;
}

/* mengubah wana baris ke 3 */
.table tr:nth-child(2) {
    background:#3f9eb6;
}


/* mengedit kotak pada menu login */
#container{
    width: 300px;
    background: rgb(137, 139, 155);
    margin:50px auto;
    padding: 10px 20px;
    border-radius: 10px;
}

/* mengedit username dan pasword  */
input[type=text],
input[type=password]{
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-size: 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 5px;
}
/* memasukkan gambar logo pada menu useername dan password */
input[type=text]{
    background-image: url("user.png");
}
input[type=password]{
    background-image: url("user2.png");
}
        
input[type=text]:focus,
input[type=password]:focus {
    border: 2px solid rgb(204, 35, 35);
}

/* megedit submit dan reset */
input[type=submit],
input[type=reset]{
    font-size: 15px;
    background: #009973;
    color: white;
    border: white 3px solid;
    border-radius: 5px;
    padding: 10px 50px;
    cursor:pointer;
    margin-top: 20px;
}

input[type=reset]{
    background:  #999999;
}

.footer {
    background-color: lightslategrey;
}

.footer .copy {
    color: white;
    text-align: center;
    font-size: 14px;
}







/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}